# flyctl launch added from .gitignore
**/node_modules
**/temp
**/*.log
**/build
**/.tmp
**/routeTree.gen.ts
**/dist
**/.env
**/.env.local
**/.vite
**/*.db
**/.claude

# flyctl launch added from server/.gitignore
server/**/node_modules
server/generated/prisma
fly.toml
