VITE_APP_NAME=Tic Tac Toe
VITE_API_URL=http://localhost:3001
VITE_WEBSITE_DOMAIN=http://localhost:5173

SUPERTOKENS_CONNECTION_URI=yoursupertokensconnectionuri.example
SUPERTOKENS_API_KEY=yoursupertokensapikeyexample

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="file:../dev.db"
